.album {
    margin-bottom: 100px;
}
.album img {
    width: 800px;
}

/*.album h3 {*/
/*    margin-left: 100px;*/
/*}*/
/*.album p {*/
/*    margin-top: 80px;*/
/*    margin-left: 100px;*/
/*}*/

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    padding: 2px;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
}

.blogWriting {
    margin-bottom: 80px;
    padding: 15px 35px;
    font-size: 13px;
}

.dateWriting {
    text-align: right;
    padding-top: 0;
    font-size: 13px;
}